h1 {
  transition: color 0.5s ease-in-out;
  font-size: 120px;
}

* {
  box-sizing: border-box;
  color: white;
  font-size: 28px;
}
body {
  font-family: "MuseoModerno";
  font-weight: 700;
  text-align: center;
}

.clicked {
  color: #123456;
}

.btn {
  cursor: pointer;
}
.greetings,
.form {
  display: none;
}

.showing {
  display: block;
}

/* #bg {
  display: none;
} */

#bg {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: auto;
  max-width: 100%;
  max-height: auto;
  overflow: auto;
  z-index: -1;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

input {
  background: transparent;
  border: none;
  border-bottom: 3px solid white;
  color: white;
  outline: none;
}

input::placeholder {
  color: white;
}
ul {
  padding: 0;
}
.li--center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}
.li--center:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.li--center:hover .delete__btn {
  display: block;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.contents {
  padding: 20px;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.1);
  margin: auto;

  border-radius: 16px;
  box-shadow: 0px 6px 17px -6px rgba(0, 0, 0, 0.75);
  position: relative;
}
.contents h4 {
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 36px;
}
.delete__btn {
  display: none;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  float: right;
}

.js-clock {
  margin-top: 120px;
}

.js-weather {
  font-size: 20px;
}
