h1 {
  color: white;
  transition: color 0.5s ease-in-out;
  font-size: 120px;
  opacity: 80%;
  text-shadow: 4px 4px 4px #aaa;
}

* {
  color: white;
  font-size: 28px;
}
body {
  font-family: "MuseoModerno";
  font-weight: 700;
  text-align: center;
}

.clicked {
  color: #123456;
}

.btn {
  cursor: pointer;
}
.greetings,
.form {
  display: none;
}

.showing {
  display: block;
}

/* #bg {
  display: none;
} */

#bg {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: auto;
  max-width: 100%;
  max-height: auto;
  overflow: auto;
  z-index: -1;
}

button {
  background: none;
  border: none;
}

input {
  background: transparent;
  border: none;
  border-bottom: 3px solid white;
  color: white;
}

input::placeholder {
  color: white;
}
.li--center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.delete__btn {
  background-color: orange;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  float: right;
}

.js-clock {
  margin-top: 50px;
}
